body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #222;
}

header {
    background-color: #004A99; 
    color: white;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Contenedor principal */
.content, main {
    max-width: 900px;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: solid 1px #ccc;
}

/*IMÁGENES*/

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 15px auto;
    border-radius: 6px;
    border: 2px solid #004A99;
}

/*TEXTOS DE INFO, MENSAJES Y PISTAS*/

.info {
    font-weight: bold;
    color: #004A99; 
    margin-top: 10px;
}

.mensaje {
    color: #b30000;
    font-weight: bold;
    margin: 10px 0;
}

.pista {
    background-color: #FFF3CD;
    border: 1px solid #F28C28;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    color: #654321;
}

/*FORMULARIOS*/

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
}

/*BOTONES*/

.btn {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón principal */
.primary {
    background-color: #004A99;
    color: white;
}


/* Botón pista extra */
.danger {
    background-color: #b30000;
    color: white;
}


/* Botón de volver a empezar */
.btn-volver-empezar {
    background-color: #F28C28;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    float: right;
}


/* Espacio para los botones de pistas */
.pista-actions {
    margin-top: 15px;
}

/* --------------------------------------------------
   BOTONES DE FINAL Y PERDISTE
-------------------------------------------------- */

.boton {
    display: inline-block;
    padding: 12px 18px;
    background-color: #004A99;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin: 10px;
}


.principales {
    background-color: #F28C28;
}




